body {
    background-color: #F0F0F0;
}

#container {
    /* background-color: antiquewhite; */
    padding: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: white;
}

#nav {
    padding-left: 40px;
    padding-right: 40px;
    transition: transform .5s;
}

#nav_title {color:#9a0000;font-size:30px;font-weight:bold;font-family: STXingkai,STLiti,'微软雅黑';}

#nav_title span {
  display:inline-block;
  position:relative;
  -webkit-transform-style:preserve-3d;
          transform-style:preserve-3d;
  -webkit-perspective:500;
          perspective:500;
  -webkit-font-smoothing:antialiased;
}
#nav_title span::before,
#nav_title span::after {
  display:none;
  position:absolute;
  top:0;
  left:-1px;
  -webkit-transform-origin:left top;
      -ms-transform-origin:left top;
          transform-origin:left top;
  -webkit-transition:all ease-out 0.3s;
          transition:all ease-out 0.3s;
  content:attr(data-text);
}
#nav_title span::before {
  z-index:1;
  color:rgba(0,0,0,0.2);
  -webkit-transform:scale(1.1, 1) skew(0deg, 25deg);
      -ms-transform:scale(1.1, 1) skew(0deg, 25deg);
          transform:scale(1.1, 1) skew(0deg, 25deg);
}
#nav_title span::after {
  z-index:2;
  color:#680000;
  text-shadow:-1px 0 1px black, 1px 0 1px rgba(0,0,0,0.8);
  -webkit-transform:rotateY(-40deg);
          transform:rotateY(-40deg);
}
#nav_title span:hover::before {
  -webkit-transform:scale(1.1, 1) skew(0deg, 5deg);
      -ms-transform:scale(1.1, 1) skew(0deg, 5deg);
          transform:scale(1.1, 1) skew(0deg, 5deg);
}
#nav_title span:hover::after {
  -webkit-transform:rotateY(-10deg);
          transform:rotateY(-10deg);
}
#nav_title span + span {
  margin-left:-2px;
}

#nav_title span::before,
  #nav_title span::after {
    display:block;
}

.is-hide {
	transform: translateY(-100%);
}

#about_me, #publications, #awards {
    margin-bottom: 40px;
}

#me_picture img {
    width: 100%;
}

#name {
    text-align: center;
}

#intro {
    text-align: justify;
    margin-bottom: 0px;
}

#intro a {
    text-decoration:none;
}

#links {
    text-align: center;
    margin: 0 auto 0;
}

#links a {
    text-decoration:none;
}

.badge img {
    width: 100%;
}

.thumbnail img {
    width: 100%;
}

.pub_intro {
    text-align: justify;
}

.pub_intro p {
    margin-bottom: 0px;
}

.pub_intro small {
    text-align: right;
}

.pub_title {
    font-weight: bold;
}

.pub_author, .pub_conf, .pub_link {
    text-align: left;
}

.pub_link a {
    text-decoration: none;
}

.pub_author {
    color: #585858;
}

.pub_author strong {
    color: black;
}

.clstrm_outer, .clstrm_inner, .clstrm_bottom_shadow, .clstrm_map, .clstrm_inner_shadow {
    width: 100%;
}

.item {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    border: 1px solid rgba(216, 216, 216, 0.5);
    position: relative;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.item:after{
    content: '';
    display: block;
    background: linear-gradient(to left, rgba(216, 216, 216, 0) 50%, rgba(216, 216, 216, 0.3) 50%);
    background-size: 210% 100%;
    background-position: right bottom;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    left: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    z-index: -1;
}

.item:hover:after {
    background-position: left bottom;
}

.item:hover {
    cursor: pointer;
}

.thumbnail {
    padding-left: 0px;
}

.pub_intro {
    padding-right: 0px;
}

#conter {
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    #container, #nav {
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px;
    }
    /* #nav_title {
        font-size:25px;
    } */
    .thumbnail {
        padding-left: 12px;
    }
    
    .pub_intro {
        padding-right: 12px;
    }

    #me_picture img {
        width: 40%;
        border-radius: 20%;
        margin-left: 30%;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px) {
    #container, #nav {
        width: 960px;
    }
}